
.navbar-default{
	background-color: #385898;
	padding-top: 10px;
}
.navbar-default .navbar-brand{
	font-size:45px;
	color:white;
}
.navbar-default .navbar-brand:hover{
	color:#D6DDDC;
	cursor: pointer;
}
.cont{
	font-weight: bold;
	color: white;
	padding-top: 10px;
}

.imp{
	width:200px;
	background-color: #E8f0fe;
	padding-left:5px; 
}
 .log{
	background-color: #4267b2;
	border:1px solid black;
	color:white;
	position: relative;
	top:13px;
}
.forgot a{
	color:#9cb4d8;
}
label{
	color:white;
	font-size:12px;
	font-weight: normal; 
}
body{
	background-color:  #e9ebee;
}
.container-2{
	float:right;
	margin-right:180px;
	width:400px;
}
.acc{
	font-size: 36px;
	font-weight: bold;
	font-family: 'Noto Sans JP', sans-serif;

}
h4{
	font-size:20px;
	padding-bottom: 10px;
}
.radio-inline{
	color:black;
	font-weight:500;
	font-size:20px;
}
.radio{
	color:#90949c;
	font-size:22px;
}
.but{
      margin: 10px;
      background-color: #69a74e;
      color:white;
      font-size: 19px;
      font-weight:600;
      padding:5px;
      border-radius:5px;
      box-shadow: inset 0 1px 1px #a4e388;
      background: linear-gradient(#67ae55, #578843);
}
.but:hover{
           background-color:#6DE17D;
           color:#D6F0D4;
}
